################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Learning_CPP/FileContentIndex
/.vs/Learning_CPP/v17/ipch/AutoPCH
/.vs/Learning_CPP/v17
